@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 1fr
                        10fr
                        10fr
                        2fr;

    grid-template-columns: 0.2fr
                            4fr
                            4fr
                            0.2fr;
    grid-template-areas: "banner banner banner banner"
                        "header header header header"
                        "chart chart chart chart"
                        "end end end end";

}


/* banner stuff*/

nav{
    float: right;
    margin-right: 20px;
}
nav ul{
    list-style: none;
    
}
nav li{
    display: inline-block;
    margin-left: 70px;
    position: relative;

}
nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: brown;
}

nav a::before{
    content:'';
    display: block;
    height: 2.5px;
    width: 0%;
    background-color: black;

    position: absolute;
    transition: all ease-in-out 250ms
}

nav a:hover::before{
    width: 100%;
}


.banner{
 
    grid-area: banner;
    background-color: #A74D4D;
    
}




/* header block*/
#header{
    grid-area: header;
    display: grid;
    text-align: center;
    background: #FDCBCB;
    font-size: 30px;
    color: black;
    align-items: center;
    padding: 50px;

  
    grid-template-rows: 1fr,1fr;
    grid-template-areas: "wheel_display data_send ";
    
   
}

/* header data_send */

#data_send{
    grid-area: data_send;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

}



#speed{
    grid-area: speed;
    
    
}

#angle{
    grid-area: angle;

    
}


.value{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    display: inline-block;
    text-align: center;
   

}
.submit{
    color: aliceblue;
    position: relative;
    width: auto;
    width: 100px;
    height: 50px;
    border-radius: 10px; 
    background-color:#5E1111 ;
    font-weight: bold;
    margin: 10px;
}

.submit:hover{
    background-color: rgb(165, 89, 89);
}

/*header wheel display*/

#wheel_display{
    grid-area: wheel_display;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " .lf rf ."
                        ". lb rb ." ;
    
}

#svg_lf{
    grid-area: lf;

}
#svg_rf{
    grid-area: rf;
    
}
#svg_lb{
    grid-area: lb;
    
}
#svg_rb{
    grid-area: rb;
    
}




  /* end of header wheel_data*/
/* end of header block*/


/* chart block*/

.chart{
    grid-area: chart;
   
    display: grid;
    grid-template-columns: 
                           1fr
                           2fr
                           2fr
                           2fr
                           ;
    
    grid-template-areas: "battery_bar temp volt current";
   
}

/*battery bars */


 #battery_bars{
    grid-area: battery_bar;
    float: left;
}

#temp{
    grid-area: : temp;
    display: block;
   
}

#volt{
    grid-area: volt;
    display: flex;
    
}

#current{
    grid-area: current;
    display: flex;
   
}



#temp_bar{
    grid-area: loadbar;

}
#temp_value{

    display: block;
}


}

.end{
    grid-area: end;
    background-color: #5E1111 ;
}



  


/* diagrams block*/